<div class="container">
	<div class="dropdown"> 
 	 <button id="sortDropdown" class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    	Sort Characters by
    	<span class="caret"></span>
  	</button>
  	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    	<li><a href="/characters/type">Type</a></li>
    	<li><a href="/characters/votes">Popularity</a></li>
    	<li><a href="/characters">Alphabetical</a></li>
  	</ul>
	</div>
</div>
 
<div class="container">
<% @characters.each do |character| %>
	<div class="thumbnail col-lg-4 col-sm-6">
	
		<div class='imagecontainer'>
  		<a href="/characters/<%= character.id %>"><img class="characterimage" src="<%= character.image_url %>" alt="<%= character.name %>" ></a>
  		</div>
  		<div class="charactertext">
    		<a href="/characters/<%= character.id %>"><h4 class="card-title"><%= character.name %></h4></a>
    		<p class="charactertextinner"><%= character.character_type %>
    		<br>
    			<ul class="list-inline" id= "seasontext">
						<% if character.season1 %>
						<li>S1</li> 
						<% end %>
						<% if character.season2 %>
						<li>S2</li> 
						<% end %>
						<% if character.season3 %>
						<li>S3</li> 
						<% end %>
						<% if character.season4 %>
						<li>S4</li> 
						<% end %>
						<% if character.season5 %>
						<li>S5</li> 
						<% end %>
						<% if character.season6 %>
						<li>S6</li> 
						<% end %>
						<% if character.season7 %>
						<li>S7</li> 
						<% end %>
    			</ul>
    		</p>
  		</div>
	</div>
	
<% end %>
</div>